*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

html,body{
    height: 100%;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 320px;
    height: 497px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content img{
    width: 288px;
    height: 288px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5%;
}
.content h2{
    font-weight: 700;
    width: 288px;
    height: 56px;
    font-size: 23px;
    color: #1F314F;
}

.content p{
    width: 256px;
    height: 57px;
    font-size: 15px;
    color: gray;
    margin-top: 20px;
}